<a href="{% url 'school:class-list' %}"> class list</a> 
<br>
<a href="{% url 'school:school-create' %}">add</a>

<form method="get">
    {{form.as_p}}
    <input type="submit">
</form>


{% for obj in object_list %}
    {{obj.first_name}}
    {{obj.surname}} 
    {{obj.school_class}} 
    <a href="{% url 'school:school-update' obj.id %}">edit</a>
    <a href="{% url 'school:school-delete' obj.id %}">delete</a>
    <br>
{% endfor %}

<br>
<br>
<br>
<br>
{% for class, total in students_summary.items %}
    {{class}}
    {{total}}
    <br>

{% endfor %}