<a href="{% url 'school:class-list' %}"> class list</a> 
<br>
<a href="{% url 'school:school-create' %}">add</a>

<form method="get">
    {{form.as_p}}
    
    <input type="submit">
</form>

<table border="1px">
        <th>First name</th>
        <th>Surname</th>
        <th>Class</th>
        <th>Actions</th>
    {% for obj in object_list %}
        <tr>
            <td>{{obj.first_name}}</td>
            <td>{{obj.surname}}</td>
            <td>{{obj.school_class}}</td> 
            <td>
                <a href="{% url 'school:school-update' obj.id %}">edit</a>
                <a href="{% url 'school:school-delete' obj.id %}">delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<br>
{% for class, total in students_summary.items %}
    {{class}}
    {{total}}
    <br>

{% endfor %}

<a href="{% url 'school:logout' %}">logout</a>